<div ng-controller="share_carpooling_list.ctrl">
    <div class="form-inline clearfix">
        <ol class="breadcrumb custom_border_bottom">
            <li class="link">{{global.activeMenu.page_name}}</li>
            <li class="active">{{global.activeSubMenu.page_name}}</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="form-inline searchform clearfix">
            <div class="form-group custom_margin_right_10">
                <input type="text" class="form-control" placeholder="请输入您要搜索的关键词" ng-model="params.searchString" />
            </div>
            <div class="form-group custom_margin_right_10">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="params.begin_date" id="case_startTime" onclick="WdatePicker()" placeholder="开始时间" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'case_startTime' })">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                /
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="params.end_date" id="case_endTime" onclick="WdatePicker()" placeholder="结束时间" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'case_endTime' })">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group custom_margin_right_10">
                <select class="form-control">
                    <option value="">-- 请选择类型 --</option>
                </select>
            </div>
            <div class="form-group">
                <div class="btn btn-primary" ng-click="doSearch(params)">查询</div>
            </div>
            <div class="form-group custom_float_right">
                <div class="btn btn-success" ng-click="addModel()">新建</div>
            </div>
        </div>

        <table class="table table-bordered table-hover table-condensed custom_margin_top_10">
            <thead>
                <tr class="active">
                    <th class="inner_center custom_width_50">
                        <label class="clearmargin" ng-click="changeAll()">
                            <input type="checkbox" ng-model="checkAll" ng-checked="checkAll">
                        </label>
                    </th>
                    <th class="inner_center">发布帐户</th>
                    <th class="inner_center custom_width_100">类型</th>
                    <th class="inner_center custom_width_200">项目</th>
                    <th class="inner_center custom_width_150">开车信息</th>
                    <th class="inner_center custom_width_150">联系方式</th>
                    <th class="inner_center">发布时间</th>
                    <th class="inner_center custom_width_100">人数</th>
                    <th class="inner_center custom_width_100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in data">
                    <td class="inner_center">
                        <label class="clearmargin" ng-click="changeRow(d)">
                            <input type="checkbox" ng-model="d.checked" ng-checked="d.checked">
                        </label>
                    </td>
                    <td>
                        <p class="text-info clearmargin">{{d.account}}</p>
                        <p class="text-muted clearmargin">{{d.company}}</p>
                    </td>
                    <td class="inner_center">{{global.enumMarkCarpoolingType_map[d.mark_carpooling_type].text}}</td>
                    <td>
                        <p class="text-muted clearmargin">{{d.start_address}}</p>
                        <p class="text-muted clearmargin">出发时间：{{global.timeGMTToString(d.start_time,"yyyy-MM-dd")}}</p>
                        <p class="text-muted clearmargin" ng-show="d.price">价格：￥{{d.price}}</p>
                    </td>
                    <td>
                        <p class="text-muted clearmargin">出发地：{{d.start_address}}</p>
                        <p class="text-muted clearmargin">到达地：{{d.end_address}}</p>
                        <p class="text-muted clearmargin" ng-show="d.car_type">车型：{{global.enumMarkCarType_map[d.car_type].text||d.car_type}}</p>
                    </td>
                    <td>
                        <p class="text-muted clearmargin">{{d.linker_name}}</p>
                        <p class="text-muted clearmargin">{{d.linker_phone}}</p>
                    </td>
                    <td class="inner_center">{{global.timeGMTToString(d.create_time,"yyyy-MM-dd hh:ss")}}</td>
                    <td class="inner_center">{{d.carrying_count}}</td>
                    <td class="inner_center">
                        <a class="link" ng-click="addModel(d,$index)">编辑</a> |
                        <a class="link" ng-click="delModel(d,$index)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-inline clearfix">
            <div class="btn btn-danger" ng-click="delBatchModel()">批量删除</div>
            <div id="share_constructor_list_pager" class="custom_float_right"></div>
        </div>
    </div>
</div>