<div ng-controller="share_constructor_list.ctrl">
    <div class="form-inline clearfix">
        <ol class="breadcrumb custom_border_bottom">
            <li class="link">{{global.activeMenu.page_name}}</li>
            <li class="active">{{global.activeSubMenu.page_name}}</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="form-inline searchform clearfix">
            <div class="form-group custom_margin_right_10">
                <input type="text" class="form-control" placeholder="请输入您要搜索的关键词" ng-model="params.searchString" />
            </div>
            <div class="form-group custom_margin_right_10">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="params.begin_date" id="case_startTime" onclick="WdatePicker()" placeholder="开始时间" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'case_startTime' })">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                /
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="params.end_date" id="case_endTime" onclick="WdatePicker()" placeholder="结束时间" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'case_endTime' })">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group custom_margin_right_10">
                <select class="form-control">
                    <option value="">-- 请选择类型 --</option>
                </select>
            </div>
            <div class="form-group">
                <div class="btn btn-primary" ng-click="doSearch(params)">查询</div>
            </div>
            <div class="form-group custom_float_right">
                <div class="btn btn-success" ng-click="addModel()">新建</div>
            </div>
        </div>


        <table class="table table-bordered table-hover table-condensed custom_margin_top_10">
            <thead>
                <tr class="active">
                    <th class="inner_center">
                        <label class="clearmargin" ng-click="changeAll()">
                            <input type="checkbox" ng-model="checkAll" ng-checked="checkAll">
                        </label>
                    </th>
                    <th class="inner_center">企业名称</th>
                    <th class="inner_center">类型</th>
                    <th class="inner_center">地址</th>
                    <th class="inner_center">联系方式</th>
                    <th class="inner_center">证书</th>
                    <th class="inner_center">价格（元）</th>
                    <th class="inner_center">发布时间</th>
                    <th class="inner_center">其他</th>
                    <th class="inner_center custom_width_100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in data">
                    <td class="inner_center custom_width_50">
                        <label class="clearmargin" ng-click="changeRow(d)">
                            <input type="checkbox" ng-model="d.checked" ng-checked="d.checked">
                        </label>
                    </td>
                    <td class="inner_center">{{d.company_caption}}</td>
                    <td class="inner_center">{{global.enumConstructorType_map[d.constructor_type].text}}</td>
                    <td class="inner_center">{{d.province_name}} {{d.city_name}}</td>
                    <td>
                        <p class="text-info clearmargin">{{d.phone}}</p>
                        <p class="text-muted clearmargin"></p>
                    </td>
                    <td>
                        <p class="text-info clearmargin" ng-show="d.constructor_type==1">{{global.enumCertificateType_map[d.certificate_type].text}}</p>
                        <p class="text-info clearmargin" ng-show="d.constructor_type==2">{{global.enumNeedTalent_map[d.need_talent].text}}</p>
                        <p class="text-muted clearmargin">数量：{{d.need_count||1}}</p>
                    </td>
                    <td class="inner_center">{{d.price||global.enumConstructorSalary_map[d.salary].text}}</td>
                    <td class="inner_center">{{global.timeGMTToString(d.create_time,"yyyy-MM-dd hh:ss")}}</td>
                    <td class="inner_center">{{d.other_memo}}</td>
                    <td class="inner_center">
                        <a class="link" ng-click="addModel(d,$index)">编辑</a> |
                        <a class="link" ng-click="delModel(d,$index)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-inline clearfix">
            <div class="btn btn-danger" ng-click="delBatchModel()">批量删除</div>
            <div id="share_constructor_list_pager" class="custom_float_right"></div>
        </div>
    </div>
</div>