<div ng-controller="share_guarantee_list.ctrl">
    <div class="form-inline clearfix">
        <ol class="breadcrumb custom_border_bottom">
            <li class="link">{{global.activeMenu.page_name}}</li>
            <li class="active">{{global.activeSubMenu.page_name}}</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        保函企业
                        <!--<div class="btn btn-primary btn-sm">+ 添加</div>-->
                    </div>
                    <table class="table table-hover table-condensed">
                        <tr ng-repeat="d in companys" ng-class="{'active':$index==activeCompanyIndex}">
                            <td>
                                <p class="text-info clearmargin">{{d.caption}}</p>
                                <p class="text-muted clearmargin">最大担保额度：￥{{d.max_guarantee_money}}</p>
                            </td>
                            <td>{{d.count}}个未处理</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-8">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr class="active">
                            <th class="inner_center custom_width_50">序号</th>
                            <th class="inner_center">申请帐户</th>
                            <th class="inner_center custom_width_100">申请保额</th>
                            <th class="inner_center custom_width_200">申请时间</th>
                            <th class="inner_center custom_width_100">联系电话</th>
                            <th class="inner_center custom_width_100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in data">
                            <td class="inner_center">
                                {{$index+1}}
                            </td>
                            <td>
                                <p class="text-info clearmargin">{{d.account}}</p>
                                <p class="text-muted clearmargin">{{d.address}}</p>
                            </td>
                            <td class="inner_center">{{d.guarantee_money}}</td>
                            <td class="inner_center">{{global.timeGMTToString(d.create_time,"yyyy-MM-dd hh:ss")}}</td>
                            <td class="inner_center">{{d.linker_phone}}</td>
                            <td class="inner_center">
                                <a class="link" ng-click="delModel(d,$index)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-inline clearfix">
                    <div id="share_guarantee_list_pager" class="custom_float_right"></div>
                </div>
            </div>
        </div>
    </div>
</div>