<div ng-controller="tender_detail.ctrl">
    <div class="modal fade bs-example-modal-lg" id="modal_tender_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">招标信息</h4>
                </div>
                <div class="modal-body">
                    <div class="highlight inner_center">
                        <h3>杭州经济开发区中心幼儿园建设工程</h3>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            招标公告
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">招标单位名称：</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="招标单位名称" ng-model="model.code" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">本项目投资：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="本项目投资" ng-model="model.name" />
                                    </div>
                                    <label class="col-sm-2 control-label require">审查方式：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="审查方式" ng-model="model.name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">企业资质类型：</label>
                                    <div class="col-sm-4">
                                        <select class="form-control">
                                            <option value="">-- 请选择企业资质类型 --</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label require">建造师等级：</label>
                                    <div class="col-sm-4">
                                        <select class="form-control">
                                            <option value="">-- 请选择建造师等级 --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">资金落实：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="资金落实" ng-model="model.name" />
                                    </div>
                                    <label class="col-sm-2 control-label require">招标代理：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="招标代理" ng-model="model.name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">联系电话：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="联系电话" ng-model="model.name" />
                                    </div>
                                    <label class="col-sm-2 control-label require">要约价：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="要约价" ng-model="model.name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">保证金：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="保证金" ng-model="model.name" />
                                    </div>
                                    <label class="col-sm-2 control-label require">保函：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="保函" ng-model="model.name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">工期：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="工期" ng-model="model.name" />
                                    </div>
                                    <label class="col-sm-2 control-label require">下载截至日期：</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" ng-model="params.end_date" id="case_endTime" onclick="WdatePicker()" placeholder="结束时间" />
                                            <span class="input-group-addon" onclick="WdatePicker({ el: 'case_endTime' })">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">其他要求：</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="2" placeholder="其他要求"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">文件：</label>
                                    <div class="col-sm-10">
                                        <div class="input-group ">
                                            <span class="input-group-addon">清</span>
                                            <input type="text" class="form-control" readonly>
                                            <span class="input-group-addon">
                                                <span class="tooltips glyphicon glyphicon-folder-open" ng-click="addFile()"></span>
                                            </span>
                                            <span class="input-group-addon">
                                                <span class="tooltips glyphicon glyphicon-remove" ng-click="removeFile()"></span>
                                            </span>
                                        </div>
                                        <div class="input-group custom_margin_top_10">
                                            <span class="input-group-addon">招</span>
                                            <input type="text" class="form-control" readonly>
                                            <span class="input-group-addon">
                                                <span class="tooltips glyphicon glyphicon-folder-open" ng-click="addFile()"></span>
                                            </span>
                                            <span class="input-group-addon">
                                                <span class="tooltips glyphicon glyphicon-remove" ng-click="removeFile()"></span>
                                            </span>
                                        </div>
                                        <div class="input-group custom_margin_top_10">
                                            <span class="input-group-addon">澄</span>
                                            <input type="text" class="form-control" readonly>
                                            <span class="input-group-addon">
                                                <span class="tooltips glyphicon glyphicon-folder-open" ng-click="addFile()"></span>
                                            </span>
                                            <span class="input-group-addon">
                                                <span class="tooltips glyphicon glyphicon-remove" ng-click="removeFile()"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            开标信息
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">开标时间：</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" ng-model="params.end_date" id="case_endTime" onclick="WdatePicker()" placeholder="结束时间" />
                                            <span class="input-group-addon" onclick="WdatePicker({ el: 'case_endTime' })">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label require">开标地点：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" placeholder="开标地点" ng-model="model.name" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            中标公示
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label require">中标单位名称：</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="中标单位名称" ng-model="model.name" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-inline custom_float_left" ng-show="params.source=='crawler'">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">-- 请选择招标类型 --</option>
                            </select>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="confirm(model)" ng-show="!params.source">确定</button>
                    <button type="button" class="btn btn-primary" ng-click="confirm(model)" ng-show="params.source=='crawler'">通过并开放</button>
                </div>
            </div>
        </div>
    </div>
</div>